.experience-item {
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.experience-item__date {
  width: 30%;
}

.experience-item__info {
  width: 70%;
}